$primary-color: #562dd4;
$secondary-color: #e2498a;
$color_1: rgba(35, 40, 45, 0.45);
$color_2: #757575;
$color_3: #343434;
$color_4: #fff;
$color_5: #4b4b4b;
$background-color_1: #fff;
$background-color_2: #7d42e3;